[Unit]
Description=AmiCachy: set 'amiga' password on first boot
DefaultDependencies=yes
# sysusers creates the user; we need it to exist before chpasswd.
After=systemd-sysusers.service
Before=getty@tty1.service sshd.service amicachy-persistent-data.service
ConditionPathExists=!/etc/.amiga-pw-set

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/amicachy-set-amiga-password

[Install]
WantedBy=multi-user.target
